.html{
  background:#4682B4;
}


.container{
  box-shadow: 2px 3px 11px 4px rgba(8,8,8,0.71);
  margin: 3rem auto;
  max-width: 90%;
  width: 1200px;
  max-height: 100%;

}

.header {
  text-align: center;
}

#slider ::selection {
  color: inherit;
  background: transparent;
}

#slider-frame {
  border: 1px solid #fff;
  border-radius: 3px;
  box-shadow: 0 0 5px #333;
  position: relative;
}

#slider-prev,
#slider-next {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  padding: 1em;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 0 2px #000;
  transition: 0.5s;
  cursor: pointer;
}

#slider-prev:hover,
#slider-next:hover {
  background: rgba(255,255,255,0.3);
}

#slider-prev {
  left: 0;
  flex-direction: row;
  align-items: center;
}

#slider-next {
  right: 0;
  flex-direction: row-reverse;
  align-items: center;
}

#slider-frame {
  background: #ccc;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  height: 15em;
}

#slider-frame [data-src] {
  display: none;
}

#slider-caption {
  margin-top: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 0.2em 0.5em;
  font-size: 0.8em;
  text-align: center;
  transition: 0.5s;
}

#slider-caption.flash {
  transition: 0s;
  background: #ccc;
}

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.7);

  display: none;
  align-items: center;
  justify-content: center;
}

.modal-open #backdrop {
  display: flex;
}

#modal {
  width: 80vw;
  height: 80vh;
  background: #fff;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0 0 5px 5px #333;
}

#modal h4 {
  float: left;
}

#modal button {
  float: right;

  background: #eee;
  padding: 5px 10px;
  border: 0;
  border-radius: 3px;

  cursor: pointer;
}

#modal button:hover {
  color: #fff;
  background: #999;
}

#modal #modal-content {
  clear: both;
  padding-top: 1em;
}

body.modal-open {
  /* hide scrolling when modal open */
  overflow: hidden;
}

section {
  margin: 1em 0;

  padding-top: 3em;
  min-height: 20em;
}

section > p {
  margin: 1em 0;
}

section ul {
  padding-left: 1.5em;
}

span.live {
  cursor: pointer;
  border-bottom: 1px dashed #09f;
}
span.live:hover {
  color: #09f;
}

#main_nav {
    display: none;
}
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}


.active, .collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.topheader{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  font-weight: bolder;
}
#logo{
  margin-left: 1rem;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 200%;
 
}

.topHeader {
  padding: .5em 2em;
  text-decoration: none;
  font-weight: bolder;
  color: black;
} 
}
.topHeader {
  margin-right: 1rem;
}

.topHeader  ul {
  display: flex;
  
}
.topHeader  ul li{
  list-style-type: none;
  margin-left: 1rem;
  font-family: sans-serif;
  
  
}

.topHeader ul li:hover{
  background-color: #999;
  border-radius: 8px;
  transition:1s;
}

.hero{
  background-image: 
    url("https://images.unsplash.com/photo-1443397496996-b312c918b54e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1575&q=80");
  background-position: ;
  background background-attachment: fixed;
  background-size: cover;
  height: 70vh;
  opacity: .90;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-size: 175%;
  font-weight: bolder;
  color: white;
  background-color: #696969;
  text-shadow: 2px 2px black;
  align-items: center;
}

.hero {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: auto;
  justify-content: center;
  text-align: center;
  max-height: 75%;
  height: 500;
  column-gap: 250px;
}

.hero h2 {
  display: grid;
  justify-content: space-between;
  grid-template-columns:1fr;
  color: white;
  box-shadow: #696969;
  font-weight: bold;
  text-shadow: 2px 2px #000000;
  align-items: center;

}

#projects{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  font-family: sans-serif;
  padding-top: 20px;

}

#projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  column-gap: 20px;


}


#projects article img {
  width: 100%;
  border: 1px solid #333;
}

#projects article {
  background:#ccc;
  padding: 1em;
}

.bottom-footer{
  display: flex;
  justify-content: space-between;
  background-color: #ccc; 
  
}

.bottom-footer small{
  font-family: sans-serif;
  display: flex;
  padding: 1px;


}

h1,h2,h3 {
  display: flex;
  flex-flow: row;
  justify-content: center;
  font-family: sans-serif;
  color: black;
}

#projects p{
display: flex;
  flex-flow: column;
  justify-content: center;
  font-family: sans-serif;
  color: black;
}

#projects ul {
display: flex;
  flex-flow: column;
  justify-content: center;
  font-family: sans-serif;
  color: black;
  
}
/* Style all font awesome icons */
.fa {
  padding: 8px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}
#tech {
  background-color: #4682B4;
  text-align: center;
  font-family: sans-serif;
  margin: 20px; 
  padding:0.5px;

}

.fixedNav{
  box-shadow: 2px 3px 11px 4px rgba(255,255,255,1);
  position: fixed;
  top: 0;
  left: 0;
  display:flex;
  justify-content: space-around;
  width: 100%;

  display: flex;
  flex-flow: row;
  justify-content: center;

  background: #4682B4;
}

.fixedNav a {
  padding: .5em 2em;
  text-decoration: none;
  font-family: sans-serif;
  color: #fff;
}

.fixedNav a:hover {
  background: #666; 
}

/* Set a specific color for each brand */

/* Linkedin */
.fa-linkedin {
  background: #3B5998;
  color: white;
}

/* Github */
.fa-github {
  background: #161616;
  color: white;
}
