
.container{
  box-shadow: 2px 3px 11px 4px rgba(255,255,255,1);
  margin: 3rem auto;
  max-width: 90%;
  width: 1200px;
  max-height: 100%;

}

.header {
  text-align: center;
}


.topheader{
  display: flex;
  grid-template-columns: 1fr 3fr 3fr 3fr;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  font-weight: bolder;
  column-gap: 20px;
  background-color: white;
}

#logo{
  margin-left: 1rem;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 200%;
 
}

.topHeader {
  padding: .5em 2em;
  text-decoration: none;
  font-weight: bolder;
  color: black;
  border-width: 1px;
} 

.topHeader {
  margin-right: 1rem;
}

.topHeader  ul {
  display: flex;
  
}
.topHeader  ul li{
  list-style-type: none;
  margin-left: 1rem;
  font-family: sans-serif;
  
  
}

.topHeader ul li:hover{
  background-color: #999;
  border-radius: 8px;
  transition:1s;
}

.hero{
  background-image: 
    url("https://images.unsplash.com/photo-1443397496996-b312c918b54e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1575&q=80");
  
  background background-attachment: fixed;
  background-size: cover;
  height: 50vh;
  opacity: .80;
  padding-top: 10px;
}

.about {
  display: grid;
  justify-content: center;
  grid-template-columns: 3fr;
  grid-template-rows: auto;
  border-width: 2px;
  border-color: grey;
  max-height: 75%;
  text-align: center;
  font-family: sans-serif;
  font-size: 175%;
  font-weight: bolder;
  color: black;
  text-shadow: 2px 2px white;
  align-items: center; 
}

.background {
  background-color: #4682B4;
  max-height: 100%;
}
/*.hero {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: auto;
  justify-content: center;
  text-align: center;
  max-height: 75%;
  height: 500;
  column-gap: 250px;
}*/

.hero h2 {
  display: grid;
  justify-content: space-between;
  grid-template-columns:1fr;
  color: black;
  box-shadow: #white;
  font-weight: bold;
  text-shadow: 2px 2px white;
  align-items: center;

}

#projects{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  font-family: sans-serif;
  padding-top: 20px;

}

#projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  column-gap: 20px;


}


#projects article img {
  width: 100%;
  border: 1px solid #333;
}

#projects article {
  background:#ccc;
  padding: 1em;
}

.bottom-footer{
  display: flex;
  justify-content: space-between;
  background-color: #ccc; 
  
}

.bottom-footer small{
  font-family: sans-serif;
  display: flex;
  padding: 1px;


}

h1,h2,h3 {
  display: flex;
  flex-flow: row;
  justify-content: center;
  font-family: sans-serif;
  color: black;
}

#projects p{
display: flex;
  flex-flow: column;
  justify-content: center;
  font-family: sans-serif;
  color: black;
}

#projects ul {
display: flex;
  flex-flow: column;
  justify-content: center;
  font-family: sans-serif;
  color: black;
  
}
/* Style all font awesome icons */
.fa {
  padding: 8px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}
#tech {
  background-color: #fff
;
  text-align: center;
  font-family: sans-serif;
  margin: 20px; 
  padding: 5px;

}

.fixedNav{
  box-shadow: 2px 3px 11px 4px rgba(255,255,255,1);
  position: fixed;
  top: 0;
  left: 0;
  display:flex;
  justify-content: space-around;
  width: 100%;

  display: flex;
  flex-flow: row;
  justify-content: center;

  background: #4682B4;
}

.fixedNav a {
  padding: .5em 2em;
  text-decoration: none;
  font-family: sans-serif;
  color: #fff;
}

.fixedNav a:hover {
  background: #666; 
}

/* Set a specific color for each brand */

/* Linkedin */
.fa-linkedin {
  background: #3B5998;
  color: white;
}

/* Github */
.fa-github {
  background: #161616;
  color: white;
}
